* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Mont';
  src: url('../fonts/Mont/Mont-ExtraLightDEMO.woff2') format('woff2'),
      url('../fonts/Mont/Mont-ExtraLightDEMO.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mont bold';
  src: url('../fonts/Mont/Mont-HeavyDEMO.woff2') format('woff2'),
      url('../fonts/Mont/Mont-HeavyDEMO.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
h1 {
  font-family: 'Mont';
  font-weight: 800;
  font-size: 63px;
  line-height: 80.51px;
  letter-spacing: 1%;
  text-align: center;
  margin-top: 180px;
}

h2 {
  font-family: 'Mont bold';
  font-weight: 800;
  font-size: 39px;
  line-height: 49.84px;
  letter-spacing: 1%;
  color: #393939;
  margin-bottom: 30px;
}

.text {
  font-weight: 600;
  width: 560px;
  font-family: 'Mont';
  font-size: 19px;
  line-height: 26.6px;
  letter-spacing: 1%;
  margin-bottom: 10px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.container {
  max-width: 1920px;
  padding: 0 20px;
  width: 100%;
  margin: auto;
}
.page {
  position: relative;
}
.front .header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.front  .header a {
  color: #FFFFFF;
  font-family: 'Mont';
  font-weight: 700;
  font-size: 16px;
  line-height: 20.45px;
  text-align: center;
  text-decoration: none;
  margin-left: 20px;
}
.header .left {
  display: flex;
  align-items: center;
}

.header .left img {
  width: 40px;
  height: 40px;
}

.header .right .menu {
  display: flex;
  align-items: center;
}

.banner-wrapper {
  position: relative;
  padding-top: 120px;
  background: url(../images/bg-banner.png) no-repeat 0 0;
  background-size: contain;
  height: 1010px;
}
.banner-wrapper::before {
  content: '';
  background: linear-gradient(0deg, #FFFFFF 0.12%, rgba(21, 76, 89, 0.7) 35.71%, rgba(7, 130, 157, 0.7) 100%);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 1010px;
}

.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  color:#FFFFFF;
  padding-top: 40px;
}
.banner .images {
  position: absolute;
  top: 110px;
  left: 0;
  background: url(../images/ellipse.svg) 0 0 no-repeat;
  background-size: cover;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
}
.banner .images img {
  width: 24px;
  height: 24px;
  margin: 12px 430px 0 0px;
}



.banner .description {
  font-family: 'Mont';
  font-weight: 600;
  font-size: 24px;
  line-height: 33.6px;
  letter-spacing: 1%;
  text-align: center;
  width: 920px;
}

.banner .buttons {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.banner .btn {
  padding: 10px 30px;
  border-radius: 40px;
  font-family: 'Mont';
  font-weight: 800;
  font-size: 20px;
  line-height: 25.56px;
  letter-spacing: 0%;
  text-align: center;
  margin: 0 10px;
}

.banner .btn.download {
  background: #32CBEDCC;
  color:#FFFFFF;
  display: flex;
}
.banner .btn.download:hover {
  cursor: pointer;
  background: #32CBED;
}

.banner .btn.callback {
  border: 2px solid #32CBEDCC;
  color:#32CBEDCC;
}
.banner .btn.callback:hover {
  cursor: pointer;
  color: #32CBED;
}

.paragraph--type--sliders {
  margin-bottom: 120px;
}

.paragraph--type--sliders .service-block-image .field--name-field-images  {
  display: flex;
  justify-content: center;
  
}

.paragraph--type--sliders .flickity-viewport {
  max-width: 1720px;
  width: 90%;
  position: relative;
}


.paragraph--type--sliders .items .item {
  max-width: 560px;
  width: 100%;
  margin: 0 20px 0 0;
  box-sizing: border-box;
  text-align: center;
}

.paragraph--type--sliders .items .item img {
  width: 100%;
  height: 100%;
}

.flickity-viewport .field__item {
  max-width: 560px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
.flickity-viewport .paragraph--type--slide .field__item {
  width: 100%;
}
.flickity-viewport .paragraph--type--slide .field__item img {
  max-width: 100%;
}

.flickity-button {
  top: auto;
  bottom: -70px;
  transform: none;
  opacity: 0.8;
}

.flickity-button:hover {
  opacity: 1;
}

.flickity-button svg {
  display: none;
}

.flickity-prev-next-button.previous {
  left: 48%;
}

.flickity-prev-next-button.previous::before {
  content: '';
  background: url(../images/previous.svg) 0 0 no-repeat;
  width: 42px;
  height: 42px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 42px;
}

.flickity-prev-next-button.next {
  right: 46%;
}

.flickity-prev-next-button.next::before {
  content: '';
  background: url(../images/next.svg) 0 0 no-repeat;
  width: 42px;
  height: 42px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 42px;
  
}
#block-light-advantages .text {
  margin-bottom: 30px;
}

#block-light-advantages .items {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#block-light-advantages .items .item {
  text-align: center;
  max-width: 250px;
  width: 100%;
}

#block-light-advantages .items .item p {
  margin-top: 30px;
  font-family: Mont;
  font-weight: 600;
  font-size: 24px;
  line-height: 33.6px;
  letter-spacing: 1%;
  text-align: center;
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 .about .text {
  width: 560px;
  font-family: 'Mont';
  font-weight: 600;
  font-size: 19px;
  line-height: 26.6px;
  letter-spacing: 1%;
  margin-bottom: 10px;
 }

 .about li {
  position: relative;
  font-weight: 600;
  width: 560px;
  font-family: 'Mont';
  font-size: 19px;
  line-height: 26.6px;
  letter-spacing: 1%;
  margin-bottom: 10px;
 }
 .about li::marker {
  display: none;
  content: '';
 }
 .about li::before {
  content: '';
  background: url(../images/check-circle.svg) 0 0 no-repeat;
  width: 34px;
  height: 34px;
  position: absolute;
  top: -5px;
  left: -40px;
 }

 .about li span {
  font-weight: 800;
  font-family: 'Mont bold';
 }


.contacts {
  margin-top: 120px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contacts .label {
  display: block;
  margin: 20px 0 10px;
  width: 100%;
  font-family: 'Mont';
  font-weight: 600;
  font-size: 24px;
  line-height: 33.6px;
  letter-spacing: 1%;
}

.contacts a, .contacts span {
  display: block;
  font-family: 'Mont bold';
  font-weight: 800;
  font-size: 19px;
  line-height: 26.6px;
  letter-spacing: 1%;
  color: #393939;
  margin-bottom: 10px;
}
.contacts a {
  text-decoration: none;
}
.contacts .text {
  margin-bottom: 0;
}
.contacts .right {
  width: 50%;
}

.contacts .right iframe {
  width: 100%;
  height: 508px;
}

.footer {
  margin-top: 60px;
  background-color: #353535;
  color: #FFFFFF;
  padding: 30px 0;
}

.footer a {
  color: #FFFFFF;
  text-decoration: none;
}
.footer .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .wrapper .left {
  display: flex;
  align-items: center;
}
.footer .wrapper .left .copyright {
  margin-right: 30px;
}

.footer .wrapper .right {
  display: flex;
}

.modal .modal-header .modal-text {
  display: none;
}

.modal .form-actions {
  text-align: center;
}

input[type="submit"] {
  font-family: 'Mont';
  font-weight: 800;
  font-size: 20px;
  line-height: 25.56px;
  letter-spacing: 0%;
  text-align: center;
  color: #FFFFFF;
  background-color: #32CBEDCC;
  border-radius: 40px;
  padding: 10px 50px;
}



.pie {
  width: 212px;
  height: 212px;
  display: block;
  border-radius: 50%;
  background-color: transparent;
  position: relative;
  border: none;
  margin: 0 auto;
  transform: rotate(-90deg);
}
.pie:after {
  display: none;
}
.pie:after {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  width: 50%;
  line-height: 105px;
  background: #fff;
  border-radius: 50%;
  font-size: 31px;
  text-align: center;
  transform: translate(-50%, -50%) rotate(90deg);
}



@media screen and ( max-width: 1200px ) {
  .container {
    max-width: 1199.98px;
  }
}
@media screen and ( max-width: 992px ){
  .container {
    max-width: 991.98px;
  }
  .contacts .left {
    width: 100%;
  }
  .contacts .right {
    margin-top: 30px;
    width: 100%;
  }
  .pie {
    width: 150px;
    height: 150px;
  }
  .pie:after {
    line-height: 77px;
    font-size: 18px;
  }
  #block-light-advantages .items .item p {
    font-size: 16px;
    line-height: 24px;
  }
  .flickity-prev-next-button.previous {
    left: 45%;
  }
  .flickity-prev-next-button.next {
    right: 45%;
  }
  .about {
    flex-wrap: wrap;
  }
  .about .left {
    width: 100%;
  }
  .banner-wrapper {
    height: 530px;
    background-size: cover;
    background-position-x: center;
  }
  .banner-wrapper::before {
    height: 560px;
  }
  .banner .images {
    top: 0;
  }
  .banner .images img {
    margin: 32px 430px 0 0;
  }
  .banner h1 {
    margin-top: 25px;
  }
}
@media screen and ( max-width: 768px ) {
  .container {
    max-width: 767.98px;
  }
  .front .header a {
    margin-left: 5px;
    padding: 8px;
  }
  .header .right .menu {
    margin-bottom: 0;
  }
  .banner .images img {
    margin: 14px 289px 0 0;
  }
  .banner h1 {
    margin: 10px 0 15px;
    font-size: 40px;
    line-height: 24px;
  }
  .banner .description {
    font-size: 16px;
    line-height: 24px;
    width: 68%;
  }
  h2 {
    font-size: 24px;
    line-height: 12px;
  }
  p {
    margin-bottom: 8px;
  }
  ol {
    margin-top: 30px;
  }
  .text {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
  }

  .about li {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
  }
  .about li::before {
    top: -10px;
  }
  .flickity-prev-next-button.previous {
    left: 42%;
  }
  .flickity-prev-next-button.next {
    right: 42%;
  }
  #block-light-advantages .items {
    flex-wrap: wrap;
  }
  #block-light-advantages .items .item {
    max-width: 50%;
  }
  .footer .wrapper .left {
    flex-wrap: wrap;
  }
}
@media screen and ( max-width: 576px ) {
  .container {
    max-width: 575.98px;
  }
  .front .header {
    flex-wrap: wrap;
  }
  .front .header a {
    margin-left: 0px;
    padding: 5px;
    font-size: 14px;
  }
  .header .right .menu {
    margin-left: 0;
  }
  .banner .images {
    display: none;
  }
  .banner-wrapper {
    background: none;
    margin-bottom: 15px;
  }
  #block-light-advantages .items .item {
    max-width: 100%;
  }
  .flickity-prev-next-button.previous {
    left: 5%;
  }
  .flickity-prev-next-button.next {
    right: 5%;
  }
  .contacts .right iframe {
    height: 250px;
  }
  .footer .wrapper {
    flex-wrap: wrap;
  }
}



.pie.p1 {
  background-image: linear-gradient(93.6deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p1:after {
  content: "1%";
}
.pie.p2 {
  background-image: linear-gradient(97.2deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p2:after {
  content: "2%";
}
.pie.p3 {
  background-image: linear-gradient(100.8deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p3:after {
  content: "3%";
}
.pie.p4 {
  background-image: linear-gradient(104.4deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p4:after {
  content: "4%";
}
.pie.p5 {
  background-image: linear-gradient(108deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p5:after {
  content: "5%";
}
.pie.p6 {
  background-image: linear-gradient(111.6deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p6:after {
  content: "6%";
}
.pie.p7 {
  background-image: linear-gradient(115.2deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p7:after {
  content: "7%";
}
.pie.p8 {
  background-image: linear-gradient(118.8deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p8:after {
  content: "8%";
}
.pie.p9 {
  background-image: linear-gradient(122.4deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p9:after {
  content: "9%";
}
.pie.p10 {
  background-image: linear-gradient(126deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p10:after {
  content: "10%";
}
.pie.p11 {
  background-image: linear-gradient(129.6deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p11:after {
  content: "11%";
}
.pie.p12 {
  background-image: linear-gradient(133.2deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p12:after {
  content: "12%";
}
.pie.p13 {
  background-image: linear-gradient(136.8deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p13:after {
  content: "13%";
}
.pie.p14 {
  background-image: linear-gradient(140.4deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p14:after {
  content: "14%";
}
.pie.p15 {
  background-image: linear-gradient(144deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p15:after {
  content: "15%";
}
.pie.p16 {
  background-image: linear-gradient(147.6deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p16:after {
  content: "16%";
}
.pie.p17 {
  background-image: linear-gradient(151.2deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p17:after {
  content: "17%";
}
.pie.p18 {
  background-image: linear-gradient(154.8deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p18:after {
  content: "18%";
}
.pie.p19 {
  background-image: linear-gradient(158.4deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p19:after {
  content: "19%";
}
.pie.p20 {
  background-image: linear-gradient(162deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p20:after {
  content: "20%";
}
.pie.p21 {
  background-image: linear-gradient(165.6deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p21:after {
  content: "21%";
}
.pie.p22 {
  background-image: linear-gradient(169.2deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p22:after {
  content: "22%";
}
.pie.p23 {
  background-image: linear-gradient(172.8deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p23:after {
  content: "23%";
}
.pie.p24 {
  background-image: linear-gradient(176.4deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p24:after {
  content: "24%";
}
.pie.p25 {
  background-image: linear-gradient(180deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p25:after {
  content: "25%";
}
.pie.p26 {
  background-image: linear-gradient(183.6deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p26:after {
  content: "26%";
}
.pie.p27 {
  background-image: linear-gradient(187.2deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p27:after {
  content: "27%";
}
.pie.p28 {
  background-image: linear-gradient(190.8deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p28:after {
  content: "28%";
}
.pie.p29 {
  background-image: linear-gradient(194.4deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p29:after {
  content: "29%";
}
.pie.p30 {
  background-image: linear-gradient(198deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p30:after {
  content: "30%";
}
.pie.p31 {
  background-image: linear-gradient(201.6deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p31:after {
  content: "31%";
}
.pie.p32 {
  background-image: linear-gradient(205.2deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p32:after {
  content: "32%";
}
.pie.p33 {
  background-image: linear-gradient(208.8deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p33:after {
  content: "33%";
}
.pie.p34 {
  background-image: linear-gradient(212.4deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p34:after {
  content: "34%";
}
.pie.p35 {
  background-image: linear-gradient(216deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p35:after {
  content: "35%";
}
.pie.p36 {
  background-image: linear-gradient(219.6deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p36:after {
  content: "36%";
}
.pie.p37 {
  background-image: linear-gradient(223.2deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p37:after {
  content: "37%";
}
.pie.p38 {
  background-image: linear-gradient(226.8deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p38:after {
  content: "38%";
}
.pie.p39 {
  background-image: linear-gradient(230.4deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p39:after {
  content: "39%";
}
.pie.p40 {
  background-image: linear-gradient(234deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p40:after {
  content: "40%";
}
.pie.p41 {
  background-image: linear-gradient(237.6deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p41:after {
  content: "41%";
}
.pie.p42 {
  background-image: linear-gradient(241.2deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p42:after {
  content: "42%";
}
.pie.p43 {
  background-image: linear-gradient(244.8deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p43:after {
  content: "43%";
}
.pie.p44 {
  background-image: linear-gradient(248.4deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p44:after {
  content: "44%";
}
.pie.p45 {
  background-image: linear-gradient(252deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p45:after {
  content: "45%";
}
.pie.p46 {
  background-image: linear-gradient(255.6deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p46:after {
  content: "46%";
}
.pie.p47 {
  background-image: linear-gradient(259.2deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p47:after {
  content: "47%";
}
.pie.p48 {
  background-image: linear-gradient(262.8deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p48:after {
  content: "48%";
}
.pie.p49 {
  background-image: linear-gradient(266.4deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p49:after {
  content: "49%";
}
.pie.p50 {
  background-image: linear-gradient(270deg, #fff 50%, transparent 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.pie.p50:after {
  content: "50%";
}
.pie.p51 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(-86.4deg, transparent 50%, #32CBED 50%);
}
.pie.p51:after {
  content: "51%";
}
.pie.p52 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(-82.8deg, transparent 50%, #32CBED 50%);
}
.pie.p52:after {
  content: "52%";
}
.pie.p53 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(-79.2deg, transparent 50%, #32CBED 50%);
}
.pie.p53:after {
  content: "53%";
}
.pie.p54 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(-75.6deg, transparent 50%, #32CBED 50%);
}
.pie.p54:after {
  content: "54%";
}
.pie.p55 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(-72deg, transparent 50%, #32CBED 50%);
}
.pie.p55:after {
  content: "55%";
}
.pie.p56 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(-68.4deg, transparent 50%, #32CBED 50%);
}
.pie.p56:after {
  content: "56%";
}
.pie.p57 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(-64.8deg, transparent 50%, #32CBED 50%);
}
.pie.p57:after {
  content: "57%";
}
.pie.p58 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(-61.2deg, transparent 50%, #32CBED 50%);
}
.pie.p58:after {
  content: "58%";
}
.pie.p59 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(-57.6deg, transparent 50%, #32CBED 50%);
}
.pie.p59:after {
  content: "59%";
}
.pie.p60 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(-54deg, transparent 50%, #32CBED 50%);
}
.pie.p60:after {
  content: "60%";
}
.pie.p61 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(-50.4deg, transparent 50%, #32CBED 50%);
}
.pie.p61:after {
  content: "61%";
}
.pie.p62 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(-46.8deg, transparent 50%, #32CBED 50%);
}
.pie.p62:after {
  content: "62%";
}
.pie.p63 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(-43.2deg, transparent 50%, #32CBED 50%);
}
.pie.p63:after {
  content: "63%";
}
.pie.p64 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(-39.6deg, transparent 50%, #32CBED 50%);
}
.pie.p64:after {
  content: "64%";
}
.pie.p65 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(-36deg, transparent 50%, #32CBED 50%);
}
.pie.p65:after {
  content: "65%";
}
.pie.p66 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(-32.4deg, transparent 50%, #32CBED 50%);
}
.pie.p66:after {
  content: "66%";
}
.pie.p67 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(-28.8deg, transparent 50%, #32CBED 50%);
}
.pie.p67:after {
  content: "67%";
}
.pie.p68 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(-25.2deg, transparent 50%, #32CBED 50%);
}
.pie.p68:after {
  content: "68%";
}
.pie.p69 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(-21.6deg, transparent 50%, #32CBED 50%);
}
.pie.p69:after {
  content: "69%";
}
.pie.p70 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(-18deg, transparent 50%, #32CBED 50%);
}
.pie.p70:after {
  content: "70%";
}
.pie.p71 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(-14.4deg, transparent 50%, #32CBED 50%);
}
.pie.p71:after {
  content: "71%";
}
.pie.p72 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(-10.8deg, transparent 50%, #32CBED 50%);
}
.pie.p72:after {
  content: "72%";
}
.pie.p73 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(-7.2deg, transparent 50%, #32CBED 50%);
}
.pie.p73:after {
  content: "73%";
}
.pie.p74 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(-3.6deg, transparent 50%, #32CBED 50%);
}
.pie.p74:after {
  content: "74%";
}
.pie.p75 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(0deg, transparent 50%, #32CBED 50%);
}
.pie.p75:after {
  content: "75%";
}
.pie.p76 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(3.6deg, transparent 50%, #32CBED 50%);
}
.pie.p76:after {
  content: "76%";
}
.pie.p77 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(7.2deg, transparent 50%, #32CBED 50%);
}
.pie.p77:after {
  content: "77%";
}
.pie.p78 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(10.8deg, transparent 50%, #32CBED 50%);
}
.pie.p78:after {
  content: "78%";
}
.pie.p79 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(14.4deg, transparent 50%, #32CBED 50%);
}
.pie.p79:after {
  content: "79%";
}
.pie.p80 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(18deg, transparent 50%, #32CBED 50%);
}
.pie.p80:after {
  content: "80%";
}
.pie.p81 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(21.6deg, transparent 50%, #32CBED 50%);
}
.pie.p81:after {
  content: "81%";
}
.pie.p82 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(25.2deg, transparent 50%, #32CBED 50%);
}
.pie.p82:after {
  content: "82%";
}
.pie.p83 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(28.8deg, transparent 50%, #32CBED 50%);
}
.pie.p83:after {
  content: "83%";
}
.pie.p84 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(32.4deg, transparent 50%, #32CBED 50%);
}
.pie.p84:after {
  content: "84%";
}
.pie.p85 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(36deg, transparent 50%, #32CBED 50%);
}
.pie.p85:after {
  content: "85%";
}
.pie.p86 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(39.6deg, transparent 50%, #32CBED 50%);
}
.pie.p86:after {
  content: "86%";
}
.pie.p87 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(43.2deg, transparent 50%, #32CBED 50%);
}
.pie.p87:after {
  content: "87%";
}
.pie.p88 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(46.8deg, transparent 50%, #32CBED 50%);
}
.pie.p88:after {
  content: "88%";
}
.pie.p89 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(50.4deg, transparent 50%, #32CBED 50%);
}
.pie.p89:after {
  content: "89%";
}
.pie.p90 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(54deg, transparent 50%, #32CBED 50%);
}
.pie.p90:after {
  content: "90%";
}
.pie.p91 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(57.6deg, transparent 50%, #32CBED 50%);
}
.pie.p91:after {
  content: "91%";
}
.pie.p92 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(61.2deg, transparent 50%, #32CBED 50%);
}
.pie.p92:after {
  content: "92%";
}
.pie.p93 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(64.8deg, transparent 50%, #32CBED 50%);
}
.pie.p93:after {
  content: "93%";
}
.pie.p94 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(68.4deg, transparent 50%, #32CBED 50%);
}
.pie.p94:after {
  content: "94%";
}
.pie.p95 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(72deg, transparent 50%, #32CBED 50%);
}
.pie.p95:after {
  content: "95%";
}
.pie.p96 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(75.6deg, transparent 50%, #32CBED 50%);
}
.pie.p96:after {
  content: "96%";
}
.pie.p97 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(79.2deg, transparent 50%, #32CBED 50%);
}
.pie.p97:after {
  content: "97%";
}
.pie.p98 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(82.8deg, transparent 50%, #32CBED 50%);
}
.pie.p98:after {
  content: "98%";
}
.pie.p99 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(86.4deg, transparent 50%, #32CBED 50%);
}
.pie.p99:after {
  content: "99%";
}
.pie.p100 {
  background-image: linear-gradient(90deg, #ccc 50%, transparent 50%), linear-gradient(90deg, transparent 50%, #32CBED 50%);
}
.pie.p100:after {
  content: "100%";
}


